<div class="mt-4">
  <h1>
    <a href="/specialisms">
      <i class="fa fa-book me-2"></i> Gestión de Especialidades de Mentores
    </a> / Editar Especialidad
  </h1>
  <hr>

  <!-- Mensaje general de error -->
  <% if flash[:alert] %>
    <div class="alert alert-danger"><%= flash[:alert] %></div>
  <% end %>

  <h2>Información de la Especialidad</h2>

  <div style="width: 30%;" class="mt-3">
    <form action="/specialisms/<%= @specialism.id %>" accept-charset="UTF-8" method="post">
      <input type="hidden" name="_method" value="patch" autocomplete="off">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <!-- Campo Nombre con icono -->
      <div class="mb-3">
        <label for="specialism_name" class="form-label">Nombre de la Especialidad</label>
        <input type="text" name="name" id="specialism_name" class="form-control" placeholder="Ej: Marketing Digital" value="<%= @specialism.name %>">
      </div>

      <!-- Botones con iconos -->
      <div class="d-flex justify-content-between">
        <%= link_to '<i class="fa fa-arrow-left"></i> Cancelar'.html_safe, specialisms_path, class: "btn btn-secondary" %>
         <button type="submit" class="btn btn-primary">
          <i class="fa fa-save"></i> Guardar Registro
        </button>
      </div>
    </form>
  </div>
</div>